 {% extends "layout.html" %} {% block main%}

<div class="ui  segment">
  <form action="/pay/pay2" method="post" onsubmit="return checkform()">
    <div class="ui form">
      <div class="grouped fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="goods" value="50" checked tabindex="0" class="hidden1">
            <label>50 赞助币</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="goods" value="100" tabindex="0" class="hidden1">
            <label>100赞助币</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="goods" value="300" tabindex="0" class="hidden1">
            <label>200 赞助币</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="goods" value="500" tabindex="0" class="hidden1">
            <label>300 赞助币</label>
          </div>
        </div>

        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="goods" value="500" tabindex="0" class="hidden1">
            <label>500 赞助币</label>
          </div>
        </div>

        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="goods" value="1000" tabindex="0" class="hidden1">
            <label>1000 赞助币</label>
          </div>
        </div>
        <div class="field">
          <label>用户名</label>
          <input name="username" id="username" />

        </div>
      </div>
    </div>
    <button class="ui submit primary button ">提交订单</button>
  </form>
</div>

<script>
  function checkform() {
    var money = document.getElementById("username").value;
    if (money == "") {
      alert("请填写用户名");
      return false;
    } else {
      return true;
    }
  }
</script>
{% endblock %}