{% extends "layout.html" %} {% block main%} {%for item in lists%}
<div class="ui card">

    <div class="content">
        <img class="right floated mini ui image" src="{{item.mblog.user.profile_image_url}}">
        <div class="header">{{item.mblog.user.screen_name}}</div>
        <div class="meta">{{item.mblog.created_at}}</div>
        <div class="description">
            {{item.mblog.text}}
        </div>
    </div>
    <div class="extra content"><i class="comments  icon"></i> {{item.mblog.comments_count}} </div>
</div>

<div>
    {%endfor%}

</div>
{% endblock %}