{% extends "layout.html" %} {% block main%} 
<div class="ui card index">

    <div class="content">
       
        <div class="ui middle aligned divided list">
            <div class="item">
              <div class="content">
                <a href="{{client}}" class="header">高速完整客户端下载</a>
              </div>
            </div>
            <div class="item">
             
              <div class="content">
                <a href="{{dlq}}" class="header">登录器下载</a>
              </div>
            </div>
            <div class="item">
                <div class="content">
                  <a href="/goods" class="header">赞助服务器</a>
                </div>

    </div>
   <div class="contentt">
       {{info}}
   </div>
</div>
{% endblock %}