{% extends "layout.html" %} {% block main%}
<div class="ui  segment">
  {% if msg != 0 %}
  <div class="ui warning message">
    <i class="close icon"></i>
    <div class="header">{{msg}} </div>
  </div>
  {%endif%}
  <table class="ui celled table">
    <thead>
      <tr>
        <th colspan="2">长春传奇3 订单详情 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="file outline icon"></i> 订单号 </td>
        <td>{{orderid}}</td>

      </tr>
      <tr>
        <td><i class="file outline icon"></i> 商品名称 </td>
        <td>{{goods}} 赞助币</td>

      </tr>
      <tr>
        <td><i class="user icon"></i> 角色名称 </td>
        <td>{{username}}</td>

      </tr>
      <tr>
        <td> <a class="ui green button" href="{{url}}">去支付</a> </td>
        <td></td>


    </tbody>
  </table>
</div>
{% endblock %}