body {
    background-color: #DADADA;
}

body>.grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

.ui.card,
.ui.cards>.card {
    width: 100%;
    max-width: 100%;
}

.description a span.url-icon img {
    width: 16px;
    height: 15px;
}

.ui.right.floated.image,
.ui.right.floated.images {
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}